@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

* {
  font-family: "Days One", sans-serif;
}

body {
    background-color: rgb(78, 77, 77);
    margin: 0;
    text-align: center;
  }

#board {
  height: 200;
  width: 200;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#snakeHead {
  height: 10px;
  width: 10px;
  background-color: rgb(255, 255, 255);
}

#apple {
  height: 10px;
  width: 10px;
  background-color: red;
}